* {
    box-sizing: border-box;
    /*background-color: #8B9EB7;*/
}
body {
    margin: 0;
    font-family: "Roboto Thin", sans-serif;
    font-weight: bold;
}
.flex-container {
    display: flex;
    width: 100%;
    border: 3px solid #91F5AD;
}
.flex-item {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}

h1 {
    color: #C2E812;
    font-family: 'Princess Sofia', cursive;
}

h2 {
    color: #745296;
    font-family: 'Princess Sofia', cursive;
}

p {
    color: #632A50;
    font-family: 'Roboto', sans-serif;
}

.elric {

}